body {background-color: pink;}
#tlt{
	background-color: purple;
	background-size: 100% 100%;
	text-align: center;
}
#img{
	text-align: center;
}
#texto{
	text-align: left;
}
h1 {
	font-size: 30px;
	color: black;
}
h2 {
	font-size: 30px;
	color: blue;
}
p {
	color: black;
}
img    {
    border-radius: 50%;
}
#redes_sociais{
	text-align: center;
	font-size: 20px;
}
